body {
    background: linear-gradient(to right, #008374 0%, #008374 35%, var(--bs-body-bg) 35%, var(--bs-body-bg) 100%);
    scrollbar-width: thin; /* for Firefox */
    scrollbar-color: transparent transparent; /* for Firefox */
}
body::-webkit-scrollbar-track,body::-webkit-scrollbar-track-piece  {
    background-color: var(--bs-body-bg) !important; /* track color */
}
body::-webkit-scrollbar ,::-webkit-scrollbar{
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
   background-color: transparent;
}
   
 /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 12px;
}
::-webkit-scrollbar:hover {
    width: 12px;
}
