{% extends 'base.html' %}
{% load static %}
{% block headers %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/discounts.css' %}"> 
{% endblock %}
{% block title %}Discounts{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4 ms-4 mb-2">
            <div class="card card-over rounded-4 animation" role="button" onclick="">
                <div class="card-body">
                    <div class="horizontal-content">
                        <h5 class="card-title card-over-title">Friend to friend</h5>
                        <p class="card-text card-over-text">friends to each other invite a friend to get a 20$ voucher</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 ms-4 mb-2">
            <div class="card card-over rounded-4 animation" role="button" onclick="window.location.href='moneyback'">
                <div class="card-body">
                    <div class="horizontal-content">
                        <h5 class="card-title card-over-title">Money Back</h5>
                        <p class="card-text card-over-text">Every dollar you will spend will be refunded back with our money back system</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/discounts-link.js' %}"></script>
{% endblock %}