{% extends 'base.html' %}
{% load static %}
{% block headers %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/discounts.css' %}"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen+Sans|Merienda">
{% endblock %}
{% block title %}Discounts{% endblock %}
{% block content %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Voucher</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure that you want to get that voucher?
          <b>It is valid for 7 days</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a role="button" id="btn-modal-yes" class="btn btn-primary">Yes I am sure</a>
        </div>
      </div>
    </div>
  </div>

<div class="container mt-2" style="font-size: xx-large; text-align: center">
    <div style="font-family: 'Playpen Sans';">Your points: <span style="font-family: Merienda;" id="total-points">{{total_points}}</span></div>
</div>
<div class="row justify-content-center mt-3">
    {% for key, value in vouchers.items %}
    <div class="col-4 ms-4 mb-2">
        <div class="card card-over rounded-4 animation" role="button" id="btn-modal{{key}}" onclick="redirectVoucher('{{value}}','{{key}}-{{total_points}}')">
            <img src="{% static 'assets/dollar-bill' %}{{ value }}.png" alt="{{value}}">
            <div class="card-body">
                <div class="horizontal-content">
                    <h5 class="card-title card-over-title" style="font-family: Merienda;">{{ value }}$</h5>
                    <p class="card-text card-over-text" style="font-family: 'Playpen Sans';">Points Required: <span style="font-family: Merienda ;">{{ key }}</span></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer"></div>

<script src="{% static 'js/moneyback.js' %}"></script>
<script src="{% static 'js/discounts-link.js' %}"></script>
{% endblock %}