{% extends 'base.html' %}
{% load static %}
{% block headers %}
<style type="text/css">
    body {background: var(--bs-body-bg) !important;}
</style>
{% endblock %}
{% block title %}Vouchers Detail{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">Voucher Detail</h1>
        {% for voucher_ in voucher %}
            <form method="post" class="mt-4">
            
                {% csrf_token %}
                {% if voucher_.is_used %}
                <div class="card card-over mb-3 rounded-3 bg-danger">
                {% else %}
                <div class="card card-over mb-3 rounded-3 bg-success">
                {% endif %}
                    <div class="row p-2">
                    <div class="col-3">
                        <img src="{% static 'assets/dollar-bill' %}{{ voucher_.value }}.png" width="200px" alt="{{voucher.value}}">
                    </div>
                        <div class="col-6">
                            <div class="card-body">
                                <input type="hidden" name="voucher_id" value="{{voucher_.voucher_id}}">
                                <h5 class="card-text">Voucher ID: {{ voucher_.voucher_id }}</h5>
                                <p class="card-text">User: {{ voucher_.user }}</p>
                                <p class="card-text">For: {{voucher_.value}}$</p>
                                <p class="card-text">Used: {{voucher_.is_used}}</p>
                                <p class="card-text"><small class="text-muted">Expires in: {{voucher_.date}}</small></p>
                            </div>
                        </div>
                    
                    <div class="col-2 justify-content-center mt-3">
                        <div class="p-5">
                        {% if voucher_.is_used %}
                            <button type="submit" class="btn btn-success" name='action' value="unrevoke">Unrevoke</button>
                        {% else %}
                            <button type="submit" class="btn btn-danger" name='action' value="revoke">Revoke</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
    </div>
<script>
    link_element = document.getElementById("discount-link")
    link_element.className += " active";
    link_element.setAttribute("aria-current", "page");
</script>
{% endblock %}
