{% extends 'base.html'%}
{% load static %}
{% block headers %} 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
{% endblock %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="container-fluid mb-3">
    <div class="row mb-3" style="font-family: 'Noto Sans'">
        <div class="col-4 mt-5">
            {% for question in questions %}
            <ul class="list-group m-2 user-select-none" >
                <li class="list-group-item rounded-5 border-white" style="background-color: transparent; color: white;">
                    <div onclick="getQuestion('{{question.0}}')" class='text text-truncate'style="cursor:pointer">
                        {{question.1}}
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
        <div class="col-sm-6 col-7 ms-2 ms-sm-5 mt-5" id="div-image">
            <h2>{{question.title}}</h2>
            <div>
                {{question.description|safe}}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/faq.js' %}"></script>
{% endblock %}