{% extends 'base.html'%}
{% load static %}
{% block headers %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&amp;family=Noto+Sans+KR:wght@500&amp;family=Noto+Sans:wght@500&amp;display=swap">
{% endblock %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="container-fluid mb-3">
    <div class="row" style="font-family: 'Noto Sans'">
        <div class="col-4 mt-5">
            {% for project in projects %}
                {% if project.show or user.is_superuser %}
                    <ul class="list-group m-2 user-select-none">
                        <li class="list-group-item rounded-5 border-white" style="background-color: transparent; color: white;">
                            <div onclick="reloadPage('{{project.project_id}}')"class='text text-truncate' style="cursor:pointer">{{project}}
                                {% if project.demo %}
                                    <span class="badge text-bg-secondary">Demo</span>
                                {%endif%}
                                {% if project.show == False %}<span class="badge text-bg-danger">Admin</span>{% endif %}
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-6 col-7 ms-2 ms-sm-5 mt-5">
            <h3 id="project-title">Projects</h3>
            <p id="project-content">There are some projects of mine click on one of the to see more<br>
                There are some projects which have the <span class="badge text-bg-secondary">Demo</span>
                which you can try be your self pretty cool right?
                <br>
                Note: the demo are still in <b>Beta</b> and are not perfect 
                if you want to try it predict one of two options
                like: "Upset" or "Glad", "Cat" or "Dog" <br>
                <b class="text-danger">Demo is no longer available in this version due to the lack of memory</b>
            </p>
            <div id="div-warning">
            </div>
            <div id="project-images"></div>
        </div>
    </div>
</div>
{% include "image_preview_modal.html"%}

<script src="{% static 'js/projects.js' %}"></script>

{% endblock %}